h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
.game-field{
    position: relative;
    height: 700px;
    width: 800px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
.player1{
    position: absolute;

    width: 200px;
    height: 200px;
    background-color: red;
}
.player2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color: green;
}
.game-registration{
    position: relative;
    height: 700px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
input{
    font-size: 15px;
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 320px;
}
button{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 30px;
    background-color:black;
    color:white;
}