@font-face {
  font-family: 'Gotham_Pro';
  src: url('../fonts/GothaProLig.eot');
  src: local('☺'), url('../fonts/GothaProLig.woff') format('woff'), url('../fonts/GothaProLig.ttf') format('truetype'), url('../fonts/GothaProLig.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham_Pro_Medium';
  src: url('../fonts/GothaProMed.eot');
  src: local('☺'), url('../fonts/GothaProMed.woff') format('woff'), url('../fonts/GothaProMed.ttf') format('truetype'), url('../fonts/GothaProMed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura_New';
  src: url('../fonts/FuturaNewBook.eot');
  src: local('☺'), url('../fonts/FuturaNewBook.woff') format('woff'), url('../fonts/FuturaNewBook.ttf') format('truetype'), url('../fonts/FuturaNewBook.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Gotham_Pro;
}
body a:hover {
  opacity: 70%;
  transition: 0.2s;
}
.container {
  width: 1134px;
  padding: 0;
}
.header {
  width: 100%;
}
.navigation-bg {
  position: absolute;
  background-color: black;
  height: 40px;
  width: 100%;
  z-index: -1;
}
.navigation a {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.navigation-menu {
  margin-top: 9px;
  display: inline-block;
}
.navigation-menu a {
  margin-right: 35px;
}
.navigation-more {
  display: inline-block;
  position: relative;
  margin-left: 406px;
}
.navigation-more .name-menu {
  display: inline-block;
  transform: translateX(-10px);
}
.navigation-more .btn-menu {
  display: inline-block;
  transform: translateY(-1px);
}
.header-info {
  margin-top: 11px;
  height: 108px;
  font-family: Gotham_Pro_Medium;
}
.header-info p {
  color: black;
  opacity: 50%;
  display: inline-block;
  font-size: 10px;
}
.header-info a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  font-size: 15px;
  display: inline-block;
}
.info-pic {
  margin-top: 43px;
}
.mobile .info-pic {
  display: inline-block;
  position: relative;
}
.mobile p {
  margin-left: 7px;
  transform: translateY(13px);
  text-transform: uppercase;
}
.mobile a {
  margin-left: 32px;
  transform: translateY(-16px);
}
.mail .convert {
  position: absolute;
  margin-top: 46px;
  margin-left: 18px;
}
.mail .convert-elemnt {
  position: relative;
  transform: translate(18px, 4px);
}
.mail p {
  transform: translate(25px, 19px);
}
.mail a {
  transform: translate(52px, -5px);
}
.logo-bg {
  position: absolute;
  background-color: #F3F3F3;
  width: 199px;
  height: 105px;
  margin-left: 80px;
}
.logo img {
  margin-left: 97px;
  transform: translateY(-26px);
}
.admin .info-pic {
  position: absolute;
  right: 0;
  transform: translate(13px, 1px);
}
.admin p {
  transform: translate(75px, 36px);
}
.admin a {
  transform: translate(15px, 21px);
}
.cart .info-pic {
  position: absolute;
  right: 14px;
  margin-top: 44px;
}
.cart .info-pic-black {
  transform: translate(140px, 21px);
  position: relative;
  width: 26px;
  height: 17px;
  background-color: black;
  border-radius: 4px;
}
.cart .info-pic-black-triangle {
  position: absolute;
  width: 7px;
  height: 6px;
  background-color: black;
  transform: translate(10px, 13px) rotate(45deg);
}
.cart .info-pic-black-num {
  display: block;
  font-size: 11px;
  position: absolute;
  color: white;
  right: 10px;
  top: 2px;
}
.cart p {
  transform: translate(33px, 19px);
}
.cart a {
  transform: translate(46px, 4px);
}
.line {
  transform: translateY(-4px);
  width: 100%;
  height: 1px;
  background-color: #EAEBED;
}
.header-menu {
  transform: translateY(-4px);
  width: 100%;
  height: 108px;
}
.header-menu a:hover {
  text-decoration: none;
  opacity: 70%;
  transition: 0.2s;
}
.foropacity {
  opacity: 30%;
}
.menu-icon {
  margin-top: 22px;
  margin-left: 14px;
  margin-right: 52px;
  display: inline-block;
}
.menu-icon img {
  display: block;
  text-align: center;
}
.menu-icon span {
  display: block;
  margin-top: 10px;
  font-family: Gotham_Pro_Medium;
  color: black;
  font-size: 11.3023px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.armchair span {
  transform: translateX(-11px);
}
.lamp {
  transform: translateX(18px);
}
.lamp span {
  transform: translateX(-38px);
}
.sofa {
  transform: translateX(-24px);
}
.sofa span {
  transform: translateX(-4px);
}
.table {
  transform: translateX(-29px);
  width: 50px;
}
.table span {
  transform: translateX(-5px);
}
.chair {
  transform: translateX(-6px);
}
.chair span {
  transform: translateX(-10px);
}
.pouf {
  transform: translateX(11px);
}
.pouf span {
  transform: translateX(-2px);
}
.dekor {
  transform: translateX(17px);
}
.dekor span {
  transform: translateX(-4px);
}
.bench {
  transform: translate(38px, -1px);
}
.more {
  transform: translateX(55px);
}
.more span p {
  display: inline-block;
  position: absolute;
  font-size: 9px;
  transform: translate(4px, 2px);
}
.footer-bg {
  height: 480px;
  width: 100%;
  background-color: black;
}
.footer {
  font-family: Futura_New;
}
.footer h1 {
  font-family: Futura_New;
  font-size: 19px;
  letter-spacing: 0.2em;
  display: block;
  text-transform: uppercase;
  color: white;
  margin-bottom: 18px;
}
.footer p {
  font-size: 10px;
  white-space: nowrap;
  letter-spacing: 0.2em;
  display: block;
  text-transform: uppercase;
  color: white;
  margin-bottom: 6px;
}
.footer-fst-line h1 {
  margin-top: 63px;
}
.footer-scnd-line h1 {
  margin-top: 53px;
}
.footer-form {
  position: absolute;
  right: 0;
}
.footer-form h1 {
  transform: translateX(59px);
}
.footer-form input {
  opacity: 70%;
  color: white;
  margin-top: 7px;
  margin-bottom: 9px;
  right: 7px;
  font-family: Futura_New;
  font-size: 18px;
  background-color: black;
  text-align: right;
  width: 257px;
  border: none;
  transform: translateX(-14px);
}
.footer-form input::placeholder {
  color: white;
  text-align-last: left;
  transform: translateX(-2px);
}
.footer-form .picture-on-form {
  position: absolute;
  transform: translate(-59px, -7px);
}
.footer-form .band {
  transform: translateX(-14px);
  width: 257px;
  height: 3px;
  background-color: white;
}
.footer-form .form-pic {
  display: inline-block;
  transform: translate(192px, 29px);
}
.footer-form .form-pic .facebook {
  transform: translateX(7px);
}
.bottom-info {
  margin-top: 106px;
  font-family: Futura_New;
  position: absolute;
  font-size: 12px;
  color: white;
  opacity: 70%;
}
.bottom-info .copyright,
.bottom-info .privacy {
  display: inline-block;
}
.bottom-info .privacy {
  transform: translateX(829px);
  text-decoration: underline;
}
@media (max-width: 1280px) {
  .container {
    width: 740px;
    padding: 0;
  }
  .container .navigation-menu {
    margin-top: 23px;
  }
  .container .navigation-more {
    display: none;
  }
  .container .logo {
    margin-top: 16px;
  }
  .container .header-info .mobile .info-pic {
    display: inline-block;
    position: relative;
  }
  .container .header-info .mobile p {
    margin-left: 7px;
    transform: translate(18px, -27px);
    white-space: nowrap;
    text-transform: uppercase;
  }
  .container .header-info .mobile a {
    font-size: 12px;
    margin-left: 19px;
    transform: translateY(-40px);
  }
  .container .header-info .mail {
    margin-top: 30px;
    transform: translateX(-147px);
  }
  .container .header-info .mail .convert {
    position: absolute;
    margin-top: 46px;
    margin-left: 18px;
  }
  .container .header-info .mail .convert-elemnt {
    position: relative;
    transform: translate(18px, 4px);
  }
  .container .header-info .mail p {
    transform: translate(50px, -13px);
  }
  .container .header-info .mail a {
    transform: translate(50px, -25px);
  }
  .container .header-info .admin {
    margin-top: 30px;
  }
  .container .header-info .admin .info-pic {
    position: absolute;
    right: 0;
    transform: translate(129px, 1px);
  }
  .container .header-info .admin p {
    transform: translate(120px, 36px);
  }
  .container .header-info .admin a {
    transform: translate(60px, 21px);
  }
  .container .header-info .cart .info-pic {
    position: absolute;
    right: 0px;
    margin-top: 44px;
  }
  .container .header-info .cart .info-pic-black {
    display: none;
    transform: translate(140px, 21px);
    position: relative;
    width: 26px;
    height: 17px;
    background-color: black;
    border-radius: 4px;
  }
  .container .header-info .cart .info-pic-black-triangle {
    position: absolute;
    width: 7px;
    height: 6px;
    background-color: black;
    transform: translate(10px, 13px) rotate(45deg);
  }
  .container .header-info .cart .info-pic-black-num {
    display: block;
    font-size: 11px;
    position: absolute;
    color: white;
    right: 10px;
    top: 2px;
  }
  .container .header-info .cart p {
    transform: translate(-15px, 39px);
  }
  .container .header-info .cart a {
    transform: translate(-6px, 24px);
  }
  .navigation-bg {
    position: absolute;
    background-color: black;
    height: 70px;
    width: 100%;
    z-index: -1;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 0;
  }
}
