@font-face {
  font-family: 'Gotham_Pro';
  src: url('../fonts/GothaProLig.eot');
  src: local('☺'), url('../fonts/GothaProLig.woff') format('woff'), url('../fonts/GothaProLig.ttf') format('truetype'), url('../fonts/GothaProLig.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Gotham_Pro;
}
.container {
  width: 1134px;
  padding: 0;
}
.header {
  width: 100%;
}
.navigation-bg {
  position: absolute;
  background-color: black;
  height: 40px;
  width: 100%;
  z-index: -1;
}
.navigation a {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.navigation a:hover {
  opacity: 70%;
  transition: 0.2s;
}
.navigation-menu {
  margin-top: 9px;
  display: inline-block;
}
.navigation-menu a {
  margin-right: 35px;
}
.navigation-more {
  display: inline-block;
  position: relative;
  margin-left: 406px;
}
.navigation-more .name-menu {
  display: inline-block;
  transform: translateX(-10px);
}
.navigation-more .btn-menu {
  display: inline-block;
  transform: translateY(-1px);
}
.header-info {
  margin-top: 11px;
  height: 108px;
}
