@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
.button {
  text-align: center;
  border-radius: 15px;
  background-color: #42b1ba;
  border: 5px solid white;
  color: white;
  padding: 5px 10px;
}
.search {
  font-family: Roboto;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  background: url(../img/search.png) no-repeat 95% 50%;
  background-color: #F1F1F1;
  outline: none;
}
.search[type=search] {
  padding-left: 10px;
}
body {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
}
.container {
  max-width: 1128px;
}
.header__row {
  display: flex;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #EEEEEE;
}
.header__row .header__search {
  width: 360px;
  height: 32px;
}
.header__row .header__cart {
  float: right;
}
.header__row .header_login {
  float: right;
}
.header__row .menu__list {
  display: flex;
  justify-content: space-between;
}
.header__row .menu__list a {
  color: #36425B;
  text-decoration: none;
}
.header__row .menu__list a:hover {
  color: #42b1ba;
  transition: 1s;
}
.header__row_second {
  border: none;
}
.blog__slider {
  background-color: pink;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.blog__slider .slider__buttons {
  position: absolute;
  background-color: none;
  border: none;
  background-color: red;
}
.blog__slider .slider__track {
  transition: 0.2s;
  display: flex;
}
.blog__slider .slider__prev {
  bottom: 0;
  left: 0;
}
.blog__slider .slider__next {
  bottom: 0;
  right: 0;
}
