.footer__bg
  .container
    footer.footer
      .row.footer__row.footer__row_first
        .col-lg-3
          h3.footer__header Store
          a(href='#') &Pcy;&ocy;&dcy;&acy;&rcy;&ocy;&chcy;&ncy;&ycy;&iecy; &scy;&iecy;&rcy;&tcy;&icy;&fcy;&icy;&kcy;&acy;&tcy;&ycy;
          a(href='#') Seller-online &bcy;&lcy;&ocy;&gcy;
        .col-lg-3
          h3.footer__header Store
          a(href='#') Sell on SOM 
          a(href='#') Teams
          a(href='#') Forums
        .col-lg-3
          h3.footer__header About
          a(href='#') Seller-online, Inc. 
          a(href='#') Policies
          a(href='#') Investors
          a(href='#') Careers
          a(href='#') Press 
          a(href='#') Impact 
          a(href='#') Legal imprint
        .col-lg-3
          h3.footer__header Follow SOM
          a(href='#') Facebook 
          a(href='#') Instagram 
          a(href='#') Pinterest 
          a(href='#') Twitter
      .row.footer__row.footer__row_second
        .col-lg-2
        .col-lg-1.col-lg-offset-7
        .col-lg-1
        .col-lg-1