header.header
  .row.header__row
    .col-lg-2
      img.header__logo(src='img/SOM logo.png' alt='логотип')
    .col-lg-4
      input.header__search.search(type='search')
    .col-lg-2.col-lg-offset-2
      p.header__currency
    .col-lg-1
      img.header__cart(src='img/cart.png' alt='корзина')
    .col-lg-1
      img.header_login(src='img/login.png' alt='')
  .row.header__row.header__row_second
    .col-lg-12
      .header__menu
        ul.menu__list
          a.menu__link(href='') Leather goods
          a.menu__link(href='products.html') Wood products
          a.menu__link(href='') Wedding
          a.menu__link(href='') Happy Birthday
          a.menu__link(href='') Toys and entertainment
          a.menu__link(href='') Art objects
          a.menu__link(href='') Goods for needlework 