// подключение шрифтов
//light начертание
@font-face {
	font-family: 'Gotham_Pro';
	src: url('../fonts/GothaProLig.eot');
	src: local('☺'), url('../fonts/GothaProLig.woff') format('woff'), url('../fonts/GothaProLig.ttf') format('truetype'), url('../fonts/GothaProLig.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//normal начертание
@font-face {
	font-family: 'Gotham_Pro_Medium';
	src: url('../fonts/GothaProMed.eot');
	src: local('☺'), url('../fonts/GothaProMed.woff') format('woff'), url('../fonts/GothaProMed.ttf') format('truetype'), url('../fonts/GothaProMed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//futura new
@font-face {
	font-family: 'Futura_New';
	src: url('../fonts/FuturaNewBook.eot');
	src: local('☺'), url('../fonts/FuturaNewBook.woff') format('woff'), url('../fonts/FuturaNewBook.ttf') format('truetype'), url('../fonts/FuturaNewBook.svg') format('svg');
	font-weight:500;
	font-style: normal;
}
@font-face {
	font-family: 'Futura_New_Medium';
	src: url('../fonts/FuturaNewDemi.eot');
	src: local('☺'), url('../fonts/FuturaNewDemi.woff') format('woff'), url('../fonts/FuturaNewDemi.ttf') format('truetype'), url('../fonts/FuturaNewDemi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: Gotham_Pro;
    a:hover{
        opacity: 70%;
        transition: 0.2s;
    }
    h1{
        margin-top: 30px;
        text-transform: uppercase;
        font-family: Gotham_Pro_Medium;
        font-size: 37px;
        line-height: 42px;
        margin-bottom: 38px;
    }
}
.container{
    // background-color: red;
    width: 1134px;
    // height: 100px;
    padding: 0;
}
.header{
    width: 100%;
    // height: 20px;
    // background-color: blue;
}

//навигация
.navigation{
    // бэкгроунд навигации
    height: 40px;
    &-bg{
    position: absolute;
    background-color: black;
    height: 40px;
    width: 100%;
    z-index: -1;
    }
    // для всех ссылок
    a{
        font-size: 10px;
        line-height: 11px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color:white;
        text-decoration: none;

    }
    //первый блок навигации
    &-menu{
        margin-top: 9px;
        display: inline-block;
        a{
            margin-right: 35px;
        }
    }
    //второй блок навигации
    &-more{
        display: inline-block;
        position: relative;
        margin-left: 390px;
        .name-menu{
            display: inline-block; 
            padding-right: 10px;
        }
        .btn-menu{
            display: inline-block;  
            
        }
    }
}
//информация в шапке
.header-info{
    position: relative;
    width: 100%;
    height: 105px;
    .lighter{
        font-family: Gotham_Pro_Medium;
        font-size: 10px;
        line-height: 10px;
        color: #000000;
        opacity: 0.5;
    }
    .darker{
        font-family: Gotham_Pro_Medium;
        font-size: 15px;
        line-height: 10px;
        color: #000000;
    }
    .header-info-element{
        display: inline-block;
        width: 200px;
        margin-right: 8px;
    }
    .wrapper1, .wrapper2{
        display: inline-block;
    }
    .wrapper1{
        img{
            float: left;
            padding: 10px;
        }
        p{
            text-align: left;

        }
    }
    .wrapper2{
        p{
            text-align: right;
        }
        img{
            padding-left: 10px;
            float: right;
        }

    }
    .logo{
        display: inline-block;
        margin: 0 40px;
        width: 199px;
        height: 105px;
        background-color: #F3F3F3;
        a{
            display: block;
            margin-top: 10px;
        }
    }
}
// разграничивающая линия
.line{
position: absolute;
width: 100%;
height: 1px;
background: rgba(234, 235, 237, 0.6);
}

//меню шапки
.header-menu{
    font-family: Gotham_Pro_Medium;
    margin-top: 19px;
    margin-left: 27px;
    margin-bottom: 19px;
}
.menu-icon{
    .icon{
        div{
            width: 100px;
        }
        div:hover{
            opacity: 70%;
            transition: 0.2s;
        }
        &:hover{
            text-decoration: none;
        }
    }
    display: inline-block;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    margin-right: 24px;
    span{
        display: block;
        text-align: center;
        padding-top: 11px;
        font-size: 11.3023px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.1em;
        color: black;
        text-transform: uppercase;
    }
    p{
        display: inline;
        position: absolute;

    }
}
.more{
    position: absolute;
}

// преимущества
.advantages{
    margin-top: 30px;
}
.adv{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    h3{
        display: block;
        font-family: Gotham_Pro_Medium;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 23px;
    }
    p{
        font-family: Futura_New;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        opacity: 0.4;
    }
}

//товары
.all-products{
    margin-top: 20px;
    margin-bottom: 88px;
}
.products{
    .product{
        text-decoration: none;
    }
    .product:hover{
        .wrapper{
            opacity: 70%;
            transition: 0.5s;
        }
    
    }
    margin-top: 40px;
    .wrapper{
        height: 410px;
        .cover-art{
            .product-availability{
                position: absolute;
                background-color: #000;
                width: 85px;
                height: 15px;
                p{
                    font-family: Futura_New;
                    color:white;
                    font-size: 10px;
                    line-height: 15px;
                    text-align: center;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                }
            }
        }
        .cover-text{
            div{
            h3{
                width: 200px;
                display: inline-block;
                font-family: Futura_New_Medium;
                font-size: 17px;
                color:black;
                letter-spacing: 0.2em;
                text-transform: uppercase;       
            }
            img{
                display: inline-block;
                position: relative;
                bottom:15px;
            }
            }
            p{
                font-family: Futura_New;
                display: block;
                font-size: 10px;

                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
                span{
                    color: black;
                    text-decoration: underline;
                }
            }
            .new-price{
                font-family: Futura_New_Medium;
                font-size: 24px;
                color:black;
                .old-price{
                    font-family: Futura_New_Medium;
                    font-size: 14px;
                    color: grey;
                    text-decoration: line-through;
                }
            }
        }
    }
}

//подробности
.details{
    margin-bottom: 100px;
    .details-line{
        margin-bottom: 5px;
        .detailes-grey-bg{
            background-color: #F3F3F3;
        }
        .details-block{
            display: inline-block;
            width: 685px;
            height: 440px;
            h1{
                color: black;
                text-transform: uppercase;
                font-size: 32px;
                margin-left: 51px;
                margin-top: 46px;
                font-family: Gotham_Pro_Medium;
            }
            p{
                display: block;
                margin-left: 50px;
                margin-top: 30px;
                font-family: Gotham_Pro;
                font-size: 15px;
                line-height: 20px;
                color: #000000;
                opacity: 0.5;
            }

            button{
                position: relative;
                left: 50px;
                top: 115px;
                border: none;
                font-family: Gotham_Pro;
                text-align: center;
                color:white;
                line-height: 12px;
                text-transform: uppercase;
                font-size: 13px;
                height: 40px;
                width: 129px;
                background: linear-gradient(93.8deg, #807FD4 0%, #609CE2 0.01%, #2346FF 100%);
                box-shadow: 0px 5px 12px rgba(71, 120, 239, 0.6);
                border-radius: 4px;
            }
            button:active{
                border: none;
                background-color: red;
            }
            img{
                position: absolute;
                top:0;
                right: 0;
            }
        }
        .fst{
            position: relative;
            left: 50%;
            margin-left: -690px;
        }
        .scnd{
            position: relative;
            left: 50%;
        }
        
    }
}

.about{
    img{
        display: block;
        margin: -150px auto;
        z-index: -1;
        position: absolute;
    }

    margin-top: 50px;
    color:black;
    text-align: center;
    font-family: Gotham_Pro_Medium;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    h1{
        margin-top: 30px;
        font-family: Gotham_Pro_Medium;
        font-size: 37px;
        line-height: 42px;
        margin-bottom: 38px;
    }
    h2{
        text-align: left;
        font-family: Futura_New_Medium;
        font-size: 20px;
        line-height: 21px;
    }
    .article{
        text-align: left;
        font-family: Gotham_Pro;
        text-transform: none;
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 38px;
    }
    a{
        &:hover{
            text-decoration: none;
            opacity: 70%;
            transition: 0.2s;
        }
        p{
            position: relative;
            left: 0;
            font-family: Gotham_Pro_Medium;
            color:black;
            font-size: 15px;
            line-height: 23px;
        }
    }

}
.brands{
    margin-top: 109px;
    h1{
        text-align: center;
        color:black;
        font-family: Gotham_Pro_Medium;
        font-size: 37px;
        line-height: 52px;
    }
    .row{
        margin-top: 47px;
        margin-bottom: 50px;
        img{
            margin-bottom: 35px;
        }
    }
}
// подвал
.footer-bg{
    height: 480px;
    width: 100%;
    background-color: black;
}

footer{
    font-family: Futura_New;
    h1{
        font-family: Futura_New;
        font-size: 19px;
        
        letter-spacing: 0.2em;
        display: block;
        text-transform: uppercase;
        color:white;
        margin-bottom: 18px;
    }

    a{
        font-size: 10px;
        white-space: nowrap; 
        letter-spacing: 0.2em;
        display: block;
        text-transform: uppercase;
        color:white;
        margin-bottom: 6px;
        &:hover{
            color:white;
            text-decoration: none;
            transition: 0.2s;
            opacity: 70%;
        }
    }
}
.footer-fst-line{
    h1{
        margin-top: 63px;
    }
}
.footer-scnd-line{
    h1{
        margin-top: 53px;
    }
}
.footer-form{
    position: absolute;
    right: 0;
    h1{
        transform: translateX(59px);
    }
    input{
        outline: none;
        &::placeholder{
            color:white;
            text-align-last: left;
            transform: translateX(-2px);
        }
        &:focus{
            border:none;
        }
        opacity: 70%;
        color:white;
        margin-top: 7px;
        margin-bottom: 9px;
        right: 7px;
        font-family: Futura_New;
        font-size: 18px;
        background-color: black;
        text-align: right;
        width: 257px;
        border:none;
        transform: translateX(-14px);

    }
    .picture-on-form{
        position: absolute;
        transform: translate(-59px, -7px);
    }
    .band{
        transform: translateX(-14px);
        width: 257px;
        height: 3px;
        background-color: white;
    }
    .form-pic{
        display: inline-block;
        transform: translate(192px, 29px);
        .facebook{
            transform: translateX(7px);
        }
    }
}
.bottom-info{
    margin-top: 106px;
    font-family: Futura_New;
    position: absolute;
    font-size: 12px;
    color: white;
    opacity: 70%;
    .copyright, .privacy{
        display: inline-block;
    }
    .privacy{
        transform: translateX(829px);
        text-decoration: underline;
    }
}

// брейкпоинты
@media (max-width: 1280px){
}
@media (max-width: 768px){
   
}
