.reviews{
    margin-top: 30px;
}
.reviews__header{
    display: inline-block;
    color:#1E273A;
}
.reviews__next{
    background:initial;
    border:none;
    position: absolute;
    right: 0;
    top:30px;
}
.reviews__wrapper{
    padding-right: 300px;
}