.viewed__item{
    margin-right: 10px;
}
.viewed_img{
    text-align: center;
}
.viewed__header{
    display: inline-block;
    color:#1E273A;
    margin: none;
}
.viewed__next{
    background:initial;
    border:none;
    position: absolute;
    right: 0;
    top:30px;
}